div.tabulator {
  border-width: 0;
  // font-size: 13px;
  background-color: transparent;

  .tabulator-row {

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    .tabulator-cell {
      border-color: transparent;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      height: auto !important;
    }
  }

  .tabulator-header {
    margin: 0 0 0.5rem 0;

    [aria-title="Location"] > .tabulator-col-content {
      padding-bottom: 0 !important;
    }

    .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
      border-color: transparent;
    }

    .tabulator-col {
      background-color: transparent;
      border-color: transparent;

      &.tabulator-field-filtered {
        background-color: rgba(255, 255, 180, 0.4);
      }

      &.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
        border-top: none;
      }

      .tabulator-col-content {
        .tabulator-header-menu-button {
          padding: 0 4px 0 0;
        }
      }
    }

    border-bottom-color: transparent;
    background-color: transparent;

    .tabulator-header-filter {
      padding: 3px 0 0 1px;

      input + input {
        margin-top: 0.25em;
      }
    }
  }

  .tabulator-footer {
    padding: 1rem 0 0;
    border-top-color: transparent;

    .tabulator-footer-contents {
      padding: 0;

      .tabulator-page-counter {
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  .tabulator-col-title svg {
    fill: $color-gray-60;
    margin-top: 2px;
    width: 12px;
}

  [tabulator-field="word_count"],
  [tabulator-field="references"],
  [tabulator-field="attachments"] {
    .tabulator-col-title {
      height: 20px;
      display: flex;
      justify-content: center;
    }
  }

  [tabulator-field="attachments"] .tabulator-col-title svg {
    transform: rotate(-44deg);
  }

  &.expanded-description [tabulator-field="description"] {
    font-size: 12px;
    white-space: normal;
  }

  .tabulator-table {
    width: 100%;
  }
}

.tabulator-menu {
  padding: 1px 0;

  .tabulator-menu-item {
    padding: 5px 6px;
    font-size: 13px;

    div {
      display: flex;
      align-items: center;
    }

    .icon-checked {
      display: none;
    }

    .checked {
      .icon-unchecked {
        display: none;
      }

      .icon-checked {
        display: block;
      }
    }

    svg {
      width: 13px;
      margin-right: 5px;
    }
  }
}