.gradient-text {
  background-color: $color-tint-secondary;
  background-image: linear-gradient(90deg, $color-tint-secondary, $color-tint-tertiary);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  a {
    display: inline;
  }
}

h1.gradient-text {
  font-weight: 800;
}

.bg-highlight {
  background: rgba(252, 252, 232, 0.4) !important;
}

.bg-highlight-vivid {
  background: rgba(255, 255, 180, 0.4) !important;
}

.report-text {
  white-space: pre-wrap;
  font-style: italic;
  line-height: 1.4;
  background: rgba(252, 252, 232, 0.4) !important;
}

.small-caps {
  font-variant: small-caps;
}

.panel-open {
  padding-bottom: 420px !important;
}

.panel-bottom {
  height: 420px;
  max-height: 420px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid $color-gray-90;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.icon-close {
  &:hover {
    background-color: $color-gray-95;
  }

  svg {
    fill: $color-gray-60;
    height: 24px;
    padding: 0.25em 1em 0;
  }
}

a.action-link,
a.action-link:visited {
  color: $color-gray-50;
  text-decoration: none;
  line-height: 1;

  &:hover {
    color: $color-dark;
  }

  svg {
    height: 12px;
    width: auto;
    margin-right: 4px;
    padding-right: 1px;
    fill: $color-gray-50;
  }
}

.underlined {
  border-bottom: 1px solid $color-gray-50;
}

.underdotted {
  border-bottom: 1px dotted $color-gray-50;
}

.max-width-narrow {
  max-width: 512px;
}

.max-width {
  max-width: 768px;
}

.max-width-wide {
  max-width: 960px;
}

.title-wrapper {
  display: flex;

  svg {
    height: 13px !important;
    margin: 0 0 0 3px !important;
    margin-top: 1px !important;
    width: 16px !important;
    padding: 0px !important;
    fill: $color-gray-70 !important;
  }
}

.min-height-tall {
  min-height: 2500px;
}

.loader {
  font-size: 16px;
  font-weight: 600;
  color: #cb4fde;
}

.tabs > a {
  border-bottom: 3px solid transparent;
  margin: 0;
  padding: 0 0 2px 0;
  font-size: 16px;
  color: inherit;
  font-weight: bold;

  &.router-link-active {
    border-bottom: 3px solid $color-tint-secondary;
  }
}

.page-map {
  height: 100vh;
}

.page {
  min-height: 100%;
  background-color: #f8f9fc;
}

.snippet-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.snippet {
  white-space: pre-wrap;
  overflow-wrap: anywhere;

  b {
    background-color: rgba(255, 255, 180, 0.4);
  }
}

.up-input {
  .el-input__wrapper {
    font-size: 17px;
    padding: 1px !important;

    .el-input__inner {
      padding: 1px 15px;
      border-radius: var(--el-border-radius-base);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.report-result a {
  word-break: break-word;
}

.report-result {
  background: hsl(0, 1%, 98%);
  padding: 20px;
  margin: -20px;
}

.report-result.is-collapsed {
  padding: 0;
  margin: 0;
  background: initial;

  .snippet {
    display: inline !important;
    white-space: nowrap;
  }
}

.map-result-list .report-result.is-collapsed {
  white-space: break-spaces;
}

.el-pagination.text-large {
  .el-pager li {
    font-size: 15px;
    &.number {
      padding: 0 10px;
    }
  }
}

.bulleted {
  > span {
    &:after {
      content: " • ";
    }
  }
  > span:last-child {
    &:after {
      content: "";
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-small-caps {
  font-variant: small-caps;
}
