.gradient-text {
  background-color: $color-tint-secondary;
  background-image: linear-gradient(90deg, $color-tint-secondary, $color-tint-tertiary);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  a {
    display: inline;
  }
}

.bg-highlight {
  background: #fcfce8 !important;
}

.bg-highlight-vivid {
  background: #ffffb4 !important;
}

.action-link,
.action-link:active {
  cursor: pointer;
  border-bottom: 1px dotted $color-tint;
  line-height: 1em;
  white-space: nowrap;
}

.panel-open {
  padding-bottom: 420px !important;
}

.panel-bottom {
  height: 420px;
  max-height: 420px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid $color-gray-90;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.icon-close {
  &:hover {
    background-color: $color-gray-95;
  }

  svg {
    fill: $color-gray-60;
    height: 24px;
    padding: 0.25em 1em 0;
  }
}

.page {
  border-top: 1px solid $color-gray-95;
  padding: 1em 0 0;
  margin: 1em 0 0;
}

.icon-links {
  a,
  a:visited {
    color: $color-gray-50;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.2;
    margin: 0 0 0 1rem;

    &:hover {
      color: $color-dark;
    }

    > div {
      border-bottom: 1px dotted $color-gray-50;
    }

    svg {
      height: 12px;
      width: auto;
      margin-right: 4px;
      padding-right: 1px;
      fill: $color-gray-50;
    }
  }
}

table.definition-table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 5px 0;
  }

  td:first-child {
    font-weight: 500;
    color: $color-gray-60;
    padding-right: 10px;
    white-space: nowrap;
    width: 1%;
  }

  tr:last-child {
    border-bottom: none;
  }
}

.report-detail-fields a:visited {
  color: adjust-hue($color: $color-tint, $degrees: -12);
}

.table-header {
  background-color: $color-gray-97;
}

.app-header {
  h1 {
    white-space: nowrap;
  }

  .header-tabs > div a.router-link-active {
    background: #fff;
    color: initial;
  }

  .header-tabs > div a:not(.router-link-active):hover {
    background: #444;
  }

  .header-tabs > div a {
    border-radius: 2px 2px 0 0;
    white-space: nowrap;
    padding: 0 0.75em;
    text-decoration: none;
    color: #ddd;
    line-height: 2em;
    font-weight: bold;
    letter-spacing: 0.1px;
  }
}

.result {
  a {
    font-size: 19px;
  }

  .result-prefix {
    color: $color-gray-50;
    line-height: 1.1;
  }

  .result-name {
    color: $color-darker;
    line-height: 1.5;
  }

  .result-links a {
    display: inline-block;
    line-height: 1.1;
    padding: 1px 0;
  }
}