html, body, #app {
  min-height: 100%;
}

body {
  font-family: system-ui;
  font-size: 14px;
  color: $color-darker;
}

input {
  color: $color-darker;
}

a,
a:visited {
  color: $color-tint;
  cursor: pointer;
  text-decoration: none;
}

pre {
  white-space: pre-line;
  margin: 0;
}

li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 1rem;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    margin-left: 0.55em;
    left: -1.4em;
    top: 0.425em;
    width: 4px;
    height: 4px;
    background-color: $color-gray-30;
    border-radius: 100%;
  }
}

input[type="search"] {
  border: 1px solid $color-gray-90;
  border-radius: 1rem;
  padding-left: 8px;
}

h6 {
  font-size: inherit;
  font-weight: 600;
  color: $color-gray-60;
}

th {
  font-weight: bold !important;
}

svg {
  height: 1em;
  width: auto;
}

button {
  padding: 0 0.5rem;
  vertical-align: middle;
  line-height: 1.4rem;
  font-size: 13px;
  border: 1px solid $color-gray-80;
  border-radius: 4px;
  background-color: $color-gray-95;
  color: #333;
}

button.active {
  font-weight: bold;
  color: $color-tint;
}

button:active {
  position: relative;
  top: 1px;
}

button svg {
  height: 0.7rem;
  padding: 0 2px 0 0;
}

button:active {
  color: $color-tint;
}
