html, body, #app {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
  font-size: 14px;
  color: $color-darker;
}

input {
  color: $color-darker;
  max-width: 100%;
}

a,
a:visited {
  word-break: break-all;
  color: $color-tint;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;

  svg {
    fill: $color-tint;
    padding: 1px;
  }
}

strong {
  font-weight: 600;
}

figure {
  line-height: 1.2;
  bottom: 0;
  font-size: 12px;
  color: $color-gray-50;
  margin: 1em 0;
  text-align: left;

  a,
  a:visited {
    color: $color-gray-70;
    text-decoration: underline;
  }
}

select {
  background: #fff;
}

blockquote {
  margin: 0;
}

pre {
  white-space: pre-line;
  line-height: 1.5;
  margin: 0;
}

li {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 1rem;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    margin-left: 0.55em;
    left: -1.4em;
    top: 0.425em;
    width: 4px;
    height: 4px;
    background-color: $color-gray-30;
    border-radius: 100%;
  }
}

input[type="search"] {
  border: 1px solid $color-gray-90;
  border-radius: 1rem;
  padding-left: 8px;
}

h6 {
  font-size: inherit;
  font-weight: 500;
  color: $color-gray-60;
}

h6 > small {
  line-height: 1rem;
  display: block;
  font-weight: normal;
}

th {
  font-weight: bold !important;
}

svg {
  height: 1em;
  width: auto;
}

button:active {
  transform: scale(0.95);
}
