@media screen and (max-width: 420px) {
  #app > div {
    padding: 0.5em !important;
  }

  button[data-page="first"],
  button[data-page="last"],
  .tabulator-paginator > label,
  .tabulator-page-size,
  .tabulator-pages {
    display: none !important;
  }

  .report-detail-fields {
    display: block;
    overflow: hidden;
  }

  .report-detail-header {
    padding-top: 0;
    padding-bottom: 0;
    align-items: start !important;

    > div {
      display: block;
      margin-bottom: 1em;
    }

    svg {
      height: auto !important;
      width: 44px !important;
    }

    .action-links {
      margin-left: 0 !important;
    }

    .action-links {
      margin-left: 0 !important;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }

  .definition-table td {
    padding: 4px 0;
  }

  body {
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  .tabulator {
    font-size: 12px !important;
  }

  .tabulator-col-title {
    font-size: 10px;
  }

  .tabulator-header-filter input[type=search] {
    padding-left: 7px !important;
  }

  input[type="date"] {
    background: #fff;
    border: 1px solid $color-gray-90;
    font-size: 11px;
    margin-bottom: 1px;
  }
}

@media screen and (min-width: 421px) {
  .tabulator-header-filter input {
    border: 1px solid $color-gray-90;
  }

  .tabulator-header-filter input[type=search] {
    border-color: $color-gray-90;
    padding: 2px 4px 2px 8px !important;
  }

  .tabulator-header-filter input:hover {
    border-color: $color-gray-70;
  }
}
