@media screen and (max-width: 420px) {
  .hide-narrow {
    display: none !important;
  }

  .min-height-tall {
    min-height: none !important;
  }

  .search-box {
    width: 100% !important;
  }

  button[data-page="first"],
  button[data-page="last"],
  .tabulator-paginator > label,
  .tabulator-page-size,
  .tabulator-pages {
    display: none !important;
  }

  .page-reports {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .table-header {
    margin: 0 !important;

    .table-summary {
      display: block !important;

      .table-summary-actions {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
      }

      .action-link {
        margin: 0 !important;
      }
    }
  }

  .table-header {
    background-color: #fff;
  }

  .icon-links {
    a,
    a:visited {
      &:active {
        background-color: $color-dark;
        transform: scale(0.95);
        position: relative;
        top: 1px;
      }

      > div {
        display: none;
      }

      svg {
        height: 24px;
        margin-right: 0;
        min-width: 2.3rem;
      }
    }
  }

  div.tabulator {
    .tabulator-footer .tabulator-footer-contents {
      padding: 0.5em 0.75em 0.5em 0.5em;

      .tabulator-page {
        padding: 0.3em 1em;

        &:hover {
          background: initial;
          color: $color-tint;
        }
      }
    }

    .tabulator-row .tabulator-cell {
      letter-spacing: -0.5px;
    }
  }
}

@media screen and (min-width: 421px) {
  .show-narrow {
    display: none !important;
  }

  .tabulator-header-filter input {
    border: 1px solid $color-gray-90;
  }

  .tabulator-header-filter input[type=search] {
    border-color: $color-gray-90;
    padding: 2px 4px 2px 8px !important;
  }

  .tabulator-header-filter input:hover {
    border-color: $color-gray-70;
  }
}
