// Table

.tabulator {
  border-width: 0;
  background: #fff;
  font-size: 13px;
}

// Rows

.tabulator-row .tabulator-responsive-collapse table tr td {
  white-space: pre-line;
}

.tabulator-row.tabulator-selectable:hover {
  background-color: #dfdfdf;
}

// Headers

.tabulator-header-filter input {
  border: 1px solid #dddddd;
}

.tabulator-header-filter input[type=search] {
  border-color: #dddddd;
}

.tabulator-header-filter input:hover {
  border-color: #a0a0a0;
}

.tabulator-header
.tabulator-col.tabulator-sortable[aria-sort="none"]
.tabulator-col-content
.tabulator-col-sorter
.tabulator-arrow {
  border-bottom: 6px solid rgba(187, 187, 187, 0);
}

// Footer

.tabulator-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: $color-gray-40;
  padding: 4px 5px 5px 5px;
}

.tabulator-footer select {
  font-size: 12px;
}

.tabulator-page-size {
  margin: 0 5px;
  order: 3;
}

.tabulator-pages {
  padding: 0 5px;
}

.tabulator-paginator {
  display: flex;
  align-items: center;

  select {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    line-height: 20px;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}

.up-pane-toolbar,
.tabulator-paginator {
  button {
    margin-right: 2px;
  }

  select {
    background-color: #efefef;
  }
}

.tabulator-paginator > label {
  margin: 0 0 0 15px;
  order: 2;
}

.tabulator-page-counter {
  font-weight: bold;
}

.tabulator .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols,
.tabulator .tabulator-header .tabulator-col,
.tabulator-row .tabulator-cell {
  border-color: #d5d5d5;
}

.tabulator-row.tabulator-selected {
  background-color: $color-tint;
}

.tabulator-row.tabulator-selected:not(:hover) .tabulator-cell {
  border-color: $color-tint;
  color: #fff;
}

.tabulator-row.tabulator-selectable:not(.tabulator-selected):hover {
  background-color: #dfdfdf;
}

.attachments-col-title {
  width: 100%;
  height: 22px;
  fill: $color-gray-50;
  transform: rotate(-44deg);
  display: flex;
  justify-content: center;

  svg {
    width: 14px;
    height: 100%;
  }
}
